/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Toggle Styles */

.logo img {
    height: 150px;
    padding: 20px;
    margin-left: 50px;
}

.sub-list li {
    list-style-type: none;
}

.currentuser {
    padding: 2px;
    font-size: 18px;
    width: 300px;
}

.currentuser p {
    border-radius: 0px 0px 0px 30px;
}

.user {
    height: 180px;
    background-color: black;
}

.map {
    height: 480px;
    background-color: white;
    border-style: solid;
    border-color: black;
}

map {
    height: 100%;
}

.item {
    padding: 0px;
    margin: 10px;
}

.pushtable {
    height: 500px;
    overflow-y: hidden;
}

.pushtable:hover {
    overflow-y: auto;
}

.itemheader {
    background-color: #c9302c;
    margin: 0px;
    padding: 1px;
}

.itembody {
    /*background-color: black;*/
    background: #0c3b86c7;
    height: 150px;
    overflow-y: hidden;
    margin: 0px;
    color: white;
}

.itembody:hover {
    overflow-y: auto;
}

.itembody .log {
    background-color: #212121;
    color: white;
    padding: 5px;
    margin: 10px;
}

.cen {
    /*background-color: #212121;*/
    background-color: rgba(33, 33, 33, 0.45);
    color: white;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*background: #000;*/
    background: #0c3b86c7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 20;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    /*color: #999999;*/
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}