body {
    background-color: #1980d1;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.cmodal {
    padding: 30px;
    border-radius: 50px;
}

.infos {
    position: absolute;
    top: 120px;
    right: 150px;
}

.icon-bag:before {
    content: "\e106";
}

/* landing page
===============================================================*/

.jumbotron-text {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron-text .btn {
    margin-top: 10px;
}

#landing-jumbotron {
    background: url('./images/bkg.svg') no-repeat center center;
    background-size: 100% 100%;
}

/* .info-box

=================================================================== */

.info-box {
    min-height: 140px;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}

.info-box i {
    display: block;
    height: 100px;
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    margin-right: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.75);
}

.info-box .count {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 700;
}

.info-box .title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.info-box .desc {
    margin-top: 10px;
    font-size: 12px;
}

.info-box.danger {
    background: #ff5454;
    border: 1px solid #ff2121;
}

.info-box.warning {
    background: #fabb3d;
    border: 1px solid #f9aa0b;
}

.info-box.primary {
    background: #20a8d8;
    border: 1px solid #1985ac;
}

.info-box.info {
    background: #67c2ef;
    border: 1px solid #39afea;
}

.info-box.success {
    background: #79c447;
    border: 1px solid #61a434;
}

/*----------------	color------------------------*/

.dark-heading-bg {
    background: #4c4f53;
    border: 1px solid #4c4f53;
}

.main-bg {
    background: #e6e8ea;
}

.white-bg {
    color: #768399;
    background: #fff;
    background-color: #fff;
}

.red-bg {
    color: #fff;
    background: #d95043;
    background-color: #d95043;
}

.blue-bg {
    color: #fff;
    background: #57889c;
    background-color: #57889c;
}

.green-bg {
    color: #fff;
    background: #26c281;
    background-color: #26c281;
}

.greenLight-bg {
    color: #71843f;
    background: #71843f;
    background-color: #71843f;
}

.yellow-bg {
    color: #fff;
    background: #fc6;
    background-color: #fc6;
}

.orange-bg {
    color: #fff;
    background: #f4b162;
    background-color: #f4b162;
}

.purple-bg {
    color: #fff;
    background: #af91e1;
    background-color: #af91e1;
}

.pink-bg {
    color: #fff;
    background: #f78db8;
    background-color: #f78db8;
}

.lime-bg {
    color: #fff;
    background: #a8db43;
    background-color: #a8db43;
}

.magenta-bg {
    color: #fff;
    background: #e65097;
    background-color: #e65097;
}

.teal-bg {
    color: #fff;
    background: #97d3c5;
    background-color: #97d3c5;
}

.brown-bg {
    color: #fff;
    background: #d1b993;
    background-color: #d1b993;
}

.gray-bg {
    color: #768399;
    background: #e4e9eb;
    background-color: #e4e9eb;
}

.dark-bg {
    color: #fff;
    background: #1a2732;
    background-color: #1a2732;
}

.facebook-bg {
    color: #fff;
    background: #3b5998;
    background-color: #3b5998;
}

.twitter-bg {
    color: #fff;
    background: #00aced;
    background-color: #00aced;
}

.linkedin-bg {
    color: #fff;
    background: #4875b4;
    background-color: #4875b4;
}

/* Styles go here */

/* login */

.login {
    background-color: #212121;
    padding: 30px;
    border-radius: 20px;
    border-top-style: solid;
    border-width: 0.3px;
    border-color: #c9302c;
}

.login input {
    border-radius: 10px;
}

.rb {
    border-radius: 10px;
}

.login button {
    border-radius: 10px;
}

.ld {
    padding-top: 60px;
}

.loader {
    position: absolute;
    z-index: 1;
    top: 30%;
}

/* login end */

.register {
    padding-top: 60px;
}

.register .header {
    padding-bottom: 40px;
}

.jumbotron {
    height: 600px;
    margin-bottom: 0px;
    color: white;
    background: transparent;
}

.bg {
    background: url('./images/bkg.svg') no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 600px;
    /*same height as jumbotron */
    top: 20;
    left: 0;
    z-index: -1;
}

.navbar-brand img {
    position: absolute;
    height: 100px;
    top: 0px;
}

.nav img {
    height: 120px;
    margin-left: 50px;
}

.nav li a {
    color: white;
}

.nav-list {}

.nav-list li {
    list-style-type: none;
}

.nav-list a {
    font-size: 20px;
    color: #424242;
    text-decoration: none;
}

.sub-list a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.navbar-nav {
    font-size: 16px;
}

.navbar-nav a {
    margin-right: 30px;
}

.jumbotron {
    margin: 0px;
}

.con {
    background-color: black;
    border-right-style: solid;
    border-right-color: #245269;
    padding: 30px;
    margin-top: 30px;
}

.con1 {
    margin-top: 3px;
    padding-top: 30px;
    padding-bottom: 90px;
}

.footer {
    background-color: #424242;
    padding-top: 30px;
    padding-bottom: 30px;
}

.copyright {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
